[submodule "RoleplayingQuestCore"]
	path = RoleplayingQuestCore
	url = https://github.com/Sebane1/RoleplayingQuestCore.git
[submodule "AQuestReborn/AnamCore"]
	path = AQuestReborn/AnamCore
	url = https://github.com/Sebane1/AnamCore.git
[submodule "RoleplayingVoiceCore"]
	path = RoleplayingVoiceCore
	url = https://github.com/Sebane1/RoleplayingVoiceCore.git
[submodule "AQuestReborn/EmoteReading"]
	path = AQuestReborn/EmoteReading
	url = https://github.com/Sebane1/EmoteReading.git
[submodule "AQuestReborn/MediaGameObjects"]
	path = AQuestReborn/MediaGameObjects
	url = https://github.com/Sebane1/MediaGameObjects.git
[submodule "Brio"]
	path = Brio
	url = https://github.com/Sebane1/Brio.git
[submodule "LooseTextureCompilerCore"]
	path = LooseTextureCompilerCore
	url = https://github.com/Sebane1/LooseTextureCompilerCore.git
[submodule "MCDF-Loader"]
	path = MCDF-Loader
	url = https://github.com/Sebane1/MCDF-Loader
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
[submodule "AQuestReborn/ThreadSafeDalamudObjectTable"]
	path = AQuestReborn/ThreadSafeDalamudObjectTable
	url = https://github.com/Sebane1/ThreadSafeDalamudObjectTable
[submodule "AQuestReborn/Hypostasis"]
	path = AQuestReborn/Hypostasis
	url = https://github.com/UnknownX7/Hypostasis.git
[submodule "AQuestReborn/PenumbraAndGlamourerHelpers"]
	path = AQuestReborn/PenumbraAndGlamourerHelpers
	url = https://github.com/Sebane1/PenumbraAndGlamourerHelpers.git
