[submodule "RoleplayingQuestCore"]
	path = RoleplayingQuestCore
	url = https://github.com/Sebane1/RoleplayingQuestCore.git
[submodule "AQuestReborn/AnamCore"]
	path = AQuestReborn/AnamCore
	url = https://github.com/Sebane1/AnamCore.git
[submodule "RoleplayingVoiceCore"]
	path = RoleplayingVoiceCore
	url = https://github.com/Sebane1/RoleplayingVoiceCore.git
[submodule "AQuestReborn/EmoteReading"]
	path = AQuestReborn/EmoteReading
	url = https://github.com/Sebane1/EmoteReading.git
[submodule "AQuestReborn/MediaGameObjects"]
	path = AQuestReborn/MediaGameObjects
	url = https://github.com/Sebane1/MediaGameObjects.git
